# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [2]:
# type your code here
print("Pakistan Zindabad",75,47.5,75<100)

Pakistan Zindabad 75 47.5 True

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [18]:
# type your code he
print("Pakistan Zindabad",45,48.5,40<50, sep='-' )

Pakistan Zindabad-45-48.5-True

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [20]:
# type your code here
print("Pakistan Zindabad", end=' ')
print(75, end=' ')
print(57.9, end=' ')
print(10>20, end=' ')

Pakistan Zindabad 75 57.9 False

4) Can a python print function take no value to print???

In [21]:
# type your answer here
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [1]:
#type your code here
Friend_Name = "Mr.Ahmed"
Friend_Age = 30
Profession = "Lawyer"
Passout_Year = 2005
Working_law_Firm = "The Himalya Associates"
Job_City = "Karachi"
Working_Year = 2015
Height_In_Feets = 5.10
Weight_In_Grams = 70600
Income_In_Pkr = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [25]:
#type your code here 
Current_Year = 2022
print(Current_Year - Passout_Year)

17

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [32]:
#type your code here 
print(Current_Year - Working_Year,"Years has",Friend_Name,"working with law firm",Working_law_Firm)

7 Years has Mr.Ahmed working with law firm The Himalya Associates

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [44]:
#type your code here 
Income_In_Pkr = 200000
Income_In_Dollars = Income_In_Pkr / 215
print("Mr.Ahmed Income",Income_In_Dollars,"$")

Mr.Ahmed Income 930.2325581395348 $

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [43]:
#type your code here 
Income_In_Pkr = 200000
Income_In_Dollars = int(Income_In_Pkr / 215)
print("Mr.Ahmed Income",Income_In_Dollars,"$")

Mr.Ahmed Income 930 $

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [45]:
#type your code here 
Weight_In_Grams = 70600
Weight_In_KG = int(Weight_In_Grams / 1000)
print("Mr.Ahmed Weight",Weight_In_KG,"Kg")

Mr.Ahmed Weight 70 Kg

11) print the year of birth of Mr. Ahmed.

In [5]:
#type your code here
Age = 30
current_year = 2022
Year_of_Birth = current_year - Age
print(Year_of_Birth)

1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [4]:
#type your code here 
print(100%6==0)

False